.dynamicContainer {
  margin-top: 1rem;
}
.search {
  display: flex;
  /* align-items: center; */
  border: 2px solid #ffd75f;
  border-radius: 6px;
  width: 500px;
  margin: 0rem auto;
  padding: 0.4rem;
}
.search input {
  border: none;
  width: 100%;
  border-radius: 3px;
  font-family: inherit;
  padding-left: 0.4rem;
}
.search button {
  background-color: transparent;
  border: none;
  color: rgb(138, 129, 141);
  font-size: 1.5rem;
  padding-left: 0.4rem;
  cursor: pointer;
}
.search input:focus {
  outline: none;
}
.imageContainer {
  display: grid;
  margin: 2rem;
  grid-template-columns: 1fr 1fr 1fr;

}
.gridItem {
  justify-self: center;
  align-self: center;
  padding: 1rem;
}
.gridItem img {
  border-radius: 15px;
}
