.navItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  height: 40px;
}
#brand {
  padding-left: 0.8rem;
  font-weight: 600;
  font-size: 18px;
}
.navLogo {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  width: 301px;
  height: 30px;
  justify-content: space-evenly;
}
.midContainer {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 217px;
  font-weight: 400;
  font-size: 18px;
  color: #404040;
  height: 27px;
  flex-direction: row;
  list-style-type: none;
}
.rightContainer {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  width: 270px;
  height: 27px;
  font-weight: 400;
  font-size: 18px;
  color: #404040;
  flex-direction: row;
  list-style-type: none;
}
